header#main-footer {
    width: 100%;
    height: 70px;
    background: #ef5350;
    border-top:1px solid #ccc;
    font-size: 18px;
    font-family: cursive;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
