header#main-header {
    width: 100%;
    height: 150px;
    background: #ef5350;
    font-size: 18px;
    font-weight: bold;
    border-bottom:1px solid #ccc;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
